<h1>Contact#index</h1>
<p>Nuestros teléfonos son: </p>
<ul>   
    <li><%= link_to("Chile", {:action => 'show', :telefono => 2334466, :codigo =>'+56'}) %></li>  

    <li><%= link_to("México", {:action => 'show', :telefono => 2334466, :codigo =>'52'}) %></li>   

    <li><%= link_to("USA", {:action => 'show', :telefono => 334466, :codigo =>'12'}) %></li>
</ul>

